@charset "UTF-8";
/* Variables */
/*Colores y tamaño de fuente*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,100;1,200;1,300&display=swap");
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/* Mixins */
/* HEADER*/
#menu {
  background-color: #fab617; }
  #menu .logo {
    margin-left: 10px;
    margin-right: 10px; }
  #menu a {
    font-size: 18px;
    font-weight: bold;
    color: #E30613; }
  #menu button {
    font-size: 18px;
    width: 120px;
    font-weight: bold; }

/* INICIO */
/*-----------------------------------------Video----------------------------------*/
.video {
  width: 100%;
  height: 100%; }

/* -----------------------------------Mapa------------------------------------ */
#local {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  padding-bottom: 10px;
  display: flex;
  justify-content: center; }
  #local .mapa {
    margin-left: 10px; }
  #local .wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px; }
    #local .wrapper #numeros-local {
      padding: 0 20px 0 0;
      display: flex;
      margin: 0 !important;
      padding: 0 !important; }
      #local .wrapper #numeros-local div {
        padding: 0 20px 0 0;
        text-align: center; }
        #local .wrapper #numeros-local div:not(:last-child) {
          border-right: 2px solid #E30613; }
        #local .wrapper #numeros-local div:not(:first-child) {
          padding-left: 20px; }
        #local .wrapper #numeros-local div p {
          margin: 0; }

/* PRODUCTOS */
/* -------------------------------Carrusel de imagenes--------------------------- */
.carousel-inner {
  max-height: 39rem; }
  .carousel-inner .imagenes .foto {
    width: 100%;
    background-size: cover; }
  .carousel-inner .carousel-item img {
    display: block;
    width: 100; }

.boton1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: #E30613;
  color: #dad4d498;
  font-weight: 700;
  border-radius: 60px; }
  .boton1:hover {
    background-color: #ed1d2b;
    transition: 0.5s; }

/* NOSOTROS */
/* -------------------------------Beneficios-------------------------------------------- */
#nosotros {
  background-color: #f2eded9b; }

.nos {
  margin: 0;
  color: #000000; }
  .nos .container .iconos_nosotros {
    background-color: #f9c651; }
    .nos .container .iconos_nosotros h1:after {
      content: '';
      display: block;
      width: 5rem;
      height: 0.3rem;
      background-color: #E30613;
      margin: 5px auto;
      border-radius: 10px;
      text-align: center; }

/* -----------------------------------Equipo------------------------------------ */
#equipo {
  padding: 50px 50px; }
  #equipo h2:after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #E30613;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center; }
  #equipo .personas {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; }
    #equipo .personas div img {
      width: 400px;
      height: 400px;
      background-size: cover; }

/* --------------------------------------------Info------------------------------ */
.open {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.familia {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.argentina {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

/* CONTACTO */
/* -----------------------------------Mapa------------------------------------ */
.ubicacion {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/img/negocio.jpg);
  background-size: cover; }
  .ubicacion .aca h2:after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #E30613;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center; }
  .ubicacion .mapa {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 20px; }
    .ubicacion .mapa .map {
      width: 100%;
      height: 100%;
      bottom: 20px; }

/* ----------------------------------------------Formulario----------------------------- */
#contenedor-formulario {
  top: 100px;
  bottom: 100px;
  background: #f3f3f3;
  border-radius: 5px;
  max-width: 1000px;
  margin-top: 10px; }
  #contenedor-formulario #titulo-formulario {
    color: black; }
    #contenedor-formulario #titulo-formulario h2:after {
      content: '';
      display: block;
      width: 5rem;
      height: 0.3rem;
      background-color: #E30613;
      margin: 5px auto;
      border-radius: 10px;
      text-align: center; }

/* INFO */
/* ----------------------------Advertencia---------------------- */
.atencion p {
  font-size: 20px; }

/* -------------------------- No permitido-------------------------*/
.no p {
  width: 100%;
  text-align: center;
  background-color: #dad4d498;
  border-radius: 4px;
  padding: 20px 10px;
  margin: 0 20px; }

/* FOOTER */
.container-fluid .row .segment-one h3 {
  color: #E30613;
  font-weight: 800; }

.container-fluid .row .segment-one p {
  color: #000;
  line-height: 25px; }

.container-fluid .row .segment-two h3 {
  color: #E30613;
  text-transform: uppercase;
  font-size: 17px; }
  .container-fluid .row .segment-two h3:before {
    content: "|";
    color: #fab617;
    padding-right: 10px; }

.container-fluid .row .segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .container-fluid .row .segment-two ul li {
    border-bottom: 1px solid #fab617;
    line-height: 40px; }
    .container-fluid .row .segment-two ul li a {
      color: #000;
      text-decoration: none; }

.container-fluid .row .segment-three h2 {
  color: #E30613;
  text-transform: uppercase;
  font-size: 17px; }
  .container-fluid .row .segment-three h2:before {
    content: "|";
    color: #fab617;
    padding-right: 10px; }

.container-fluid .row .segment-three ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .container-fluid .row .segment-three ul li a {
    color: #000;
    text-decoration: none;
    background: #d5d3d3;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px 0; }
    .container-fluid .row .segment-three ul li a i {
      font-size: 20px;
      color: #E30613;
      padding: 8px 12px; }

.container-fluid .row .segment-four h2 {
  color: #E30613;
  text-transform: uppercase;
  font-size: 17px; }
  .container-fluid .row .segment-four h2:before {
    content: "|";
    color: #fab617;
    padding-right: 10px; }

.container-fluid .row .segment-four form input[type=email] {
  border-radius: 3px; }

.container-fluid .row .segment-four form input[type=submit] {
  background: #fab617;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #E30613;
  text-transform: uppercase;
  border-radius: 3px; }

.footer-bottom-text {
  text-align: center;
  background: #fab617;
  line-height: 75px;
  width: 100%;
  height: 100%; }

/* MEDIAQUERIES */
/*------------------------------------------ CONTACTO--------------------------------------- */
/* Mapa */
/* Pantalla ancha */
@media (max-width: 1200px) {
  #intro {
    width: 90% !important;
    margin: auto; }
  #local {
    flex-wrap: wrap;
    padding-top: 30px; }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px; } }

/* Pantalla sm */
@media (max-width: 768px) {
  #intro {
    width: 90% !important;
    margin: auto; }
  .wrapper {
    width: 50%;
    margin: auto;
    padding-top: 50px;
    text-align: center; }
  #local {
    flex-wrap: wrap; }
  .mapa {
    width: 100%;
    height: auto; } }

/* Pantalla extra sm */
@media (max-width: 576px) {
  #servicios-fila-2 {
    width: 100% !important; }
  #servicios-fila-1 {
    width: 100% !important; }
  .icono-wrap {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center; } }

@media (max-width: 768px) {
  .map {
    width: 100px;
    height: 100px; } }

/* Formulario */
@media (max-width: 768px) {
  #intro {
    width: 90% !important; }
  .servicio-fila {
    width: 100% !important;
    text-align: center; }
  #bg-contacto {
    top: -110px; } }

/* -------------------------------------NOSOTROS-------------------------- */
@media (max-width: 768px) {
  .personas {
    display: flex;
    flex-direction: column; } }
