/*Colores y tamaño de fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,100;1,200;1,300&display=swap');
$color-primary:#fab617;
$color-secondary:#E30613;
$color-three: #f3f3f398;
$font-nav: 18px;