/* Menu igual en todas las paginas */
#menu {
    background-color:$color-three;
    .logo{
        margin-left: 10px;
        margin-right: 10px;
    }

    a {
        font-size: $font-nav;
        font-weight: bold;
        color: $color-secondary;
    }

    button {
        font-size: $font-nav;
        width: 120px;
        font-weight: bold;
    }
}