/* ----------------------------Advertencia---------------------- */

.atencion{
    p{
        font-size: 20px;
    }
}

/* -------------------------- No permitido-------------------------*/

.no{
    p{
        width: 100%;
        text-align: center;
        background-color: $color-three;
        border-radius: 4px ;
        padding: 20px 10px;
        margin: 0 20px;
    }
    
}