/* ----------------------------Advertencia---------------------- */

.atencion{
    p{
        font-size: 20px;
    }
}

/* -------------------------- */

#contenidos{
    background: $color-three;
    width: 100%;
    height: auto;
    overflow: hidden;
    #centro{
        width: 800px;
        margin: auto;
        border: 1px solid;
        height: auto;
        overflow: hidden;
        #izquierda{
            width: 390px;
            height: auto;
            overflow: hidden;
            border: 1px solid;
        }
    }
}