/*MEDIA QUERIES*/

/*------------------------------------------ CONTACTO--------------------------------------- */

/* Mapa */

/* Pantalla ancha */
@media (max-width:1200px){
    #intro{
        width:90% !important;
        margin:auto;
    }
    #local {
        flex-wrap: wrap;
        padding-top:30px;
}
.wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
}
}
/* Pantalla sm */
@media (max-width:768px) {

    #intro{
        width:90% !important;
        margin:auto;
    }
    .wrapper {
        width:50%;
        margin:auto;
        padding-top:50px;
        text-align: center;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa {
        width:100%;
        height:auto;
    }
}

/* Pantalla extra sm */
@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}
@media (max-width:768px){
    .map{
        width: 100px;
        height: 100px;
    }
}

/* Formulario */
@media(max-width:768px) {
    #intro {
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto{
        top: -110px;
    }
}

/* --------------------------------------FOOTER----------------------------- */

@media screen and (min-width: 768px) and (max-width:991px){
    .bianqui1{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 767px) {
        .footer-top {
        padding: 50px 0;
        .bianqui{
        margin-bottom: 60px;
    } 
    }
    

}