#nosotros {
    background-color: #f2eded9b;
}

.nos {
    margin: 0;
    color: #000000;

    .container1 {
        .iconos_nosotros {
            background-color: #f9c651;

        }
    }

}

#familia {
    padding: 50px 50px;
    h2{
        &:after {
            content: '';
            display: block;
            width: 5rem;
            height: 0.3rem;
            background-color: $color-secondary;
            margin: 5px auto;
            border-radius: 10px;
            text-align: center;
        }
    }

    .personas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        div {
          

            img {
                width: 400px;
                height: 400px;
                background-size: cover;

            }
        }
    }


}